.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    border: none;
    border-right: none;
    border-top: none;
    .line {
        box-sizing: border-box;
        .element {
            width: 20px;
            height: 20px;
            font-size: 6px;
            box-sizing: border-box;
            border-top: $border;
            border-right: $border;
            background-color: black;
        }
        .space {
            background-color: white;
        }
        .wall {
            background-color: black;
        }
        .boss {
            background-color: red;
        }
        .player {
            background-color: blue;
        }
        .medicine {
            background-color: green;
        }
        .weapon {
            background-color: brown;
        }
        .enemy {
            background-color: yellow;
        }
        .blink_me {
            animation: blinker 0.7s linear infinite;
        }
        @keyframes blinker {
            50% {
                opacity: 0.7;
            }
        }
    }
}