.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    border: none;
    border-right: none;
    border-top: none;
    .line {
        box-sizing: border-box;
        .element {
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            background-color: black;
        }
        .space {
            background-color: white;
            border-top: $border;
            border-right: $border;
        }
        .wall {
            background-color: #202020;
            background-image: url("./img/wall.png");
        }
        .boss {
            @include staff-style(red, "./img/boss.png");
        }
        .player {
            @include staff-style(blue, "./img/player.jpg");
        }
        .medicine {
            @include staff-style(green, "./img/medicine.jpg");
        }
        .weapon {
            @include staff-style(brown, "./img/weapon.jpg");
        }
        .enemy {
            @include staff-style(orange, "./img/enemy.png");
        }
        .blink_me {
            animation: blinker 0.7s linear infinite;
        }
       
        @keyframes blinker {
            50% {
                opacity: 0.7;
            }
        }
    }
}