.stats {
    display: inline-block;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-size: 15px;
}